![logo](https://raw.githubusercontent.com/SamEdwardes/pydatafaker/master/docs/source/_static/logo_with_grey_text.png)

![test_with_pytest](https://github.com/SamEdwardes/pydatafaker/workflows/test_with_pytest/badge.svg)
[![Documentation Status](https://readthedocs.org/projects/pydatafaker/badge/?version=latest)](https://pydatafaker.readthedocs.io/en/latest/?badge=latest)

PyDataFaker is a python package to create fake data with relationships between tables. Creating fake data can be useful for many different applications such as creating product demos or testing software. 

Python already has a great package for creating fake data called Faker [https://faker.readthedocs.io/en/master/](https://faker.readthedocs.io/en/master/). Faker is great for creating individual fake units of data, but it can be time consuming to create more complicated fake data that is actually related to one another.

Imagine you are developing a new enterprise resource planning (ERP) software to challenge SAP. You may need to create some fake data to test your application. You will need an invoice table, a vendor listing, purchase order table, and more. PyDataFaker allows your to quickly create these tables and generates relationships between them!

PyDataFaker is currently under development. At this time it is possible to create the following entities:

- **Business**: create a fake business with common ERP like tables
- **School**: create a fake school

More entities are currently being developed. If you  have any ideas of additional entities that should be included please submit an issue here: [https://github.com/SamEdwardes/pydatafaker/issues](https://github.com/SamEdwardes/pydatafaker/issues).

## Table of contents

- [Installation](#installation)
- [Documentation](#documentation)
- [Usage](#usage)
- [Contributing](#contributing)
- [Credits](#credits)

## Installation

```bash
pip install pydatafaker
```

## Documentation

Documentation can be found at [https://pydatafaker.readthedocs.io/en/latest/index.html](https://pydatafaker.readthedocs.io/en/latest/index.html). The package is distributed through PyPi at [https://pypi.org/project/pydatafaker/](https://pypi.org/project/pydatafaker/)

## Usage

### Business

The business module allows you to create fake business data. Calling `business.create_business()` will return a dictionary of related tables.

In [1]:
import pandas as pd
from pydatafaker import business
biz =  business.create_business()
biz.keys()

dict_keys(['vendor_table', 'po_table', 'invoice_summary_table', 'invoice_line_item_table', 'employee_table', 'contract_table', 'rate_sheet_table', 'timesheet_table'])

Each value inside the dictionary contains a Pandas DataFrame.

In [2]:
biz['invoice_summary_table']

    invoice_id  amount invoice_date     po_id     vendor_id
0    inv_00001   56430   2016-11-14  po_00001  vendor_00001
1    inv_00002   87163   2000-09-15  po_00002  vendor_00002
2    inv_00003  100763   2010-07-12  po_00003  vendor_00003
3    inv_00004   58546   2007-10-12  po_00004  vendor_00004
4    inv_00005   76600   2012-10-28  po_00005  vendor_00005
..         ...     ...          ...       ...           ...
445  inv_00446  100520   2007-08-05  po_00099  vendor_00099
446  inv_00447   97792   2016-02-20  po_00071  vendor_00071
447  inv_00448   46952   2006-11-09  po_00015  vendor_00015
448  inv_00449   50536   2017-05-30  po_00099  vendor_00099
449  inv_00450   57482   2010-09-28  po_00185  vendor_00049

[450 rows x 5 columns]

Tables can be joined together to add additional details.

In [3]:
invoice_summary = biz['invoice_summary_table']
vendors = biz['vendor_table']
pd.merge(invoice_summary, vendors, how='left', on='vendor_id')

,invoice_id,amount,invoice_date,po_id,vendor_id,vendor_name,vendor_description,address,phone,email
0,inv_00001,56430,2016-11-14,po_00001,vendor_00001,Parker-Hernandez,Synergistic full-range middleware,USCGC Kennedy\nFPO AE 45867,225-393-0867,michellebarber@example.net
1,inv_00002,87163,2000-09-15,po_00002,vendor_00002,King PLC,Inverse content-based emulation,"64354 Beck Parks Apt. 147\nNew Mary, CO 05360",611.068.6837,kconley@example.net
2,inv_00003,100763,2010-07-12,po_00003,vendor_00003,Andrews Ltd,Enterprise-wide heuristic service-desk,"413 David Lock Suite 480\nRobertburgh, VT 55531",912-987-8642x259,jackson34@example.org
3,inv_00004,58546,2007-10-12,po_00004,vendor_00004,Cook LLC,De-engineered multimedia frame,"660 James Circle Apt. 771\nKarlafort, NE 18641",001-641-799-6571x09024,shelly09@example.com
4,inv_00005,76600,2012-10-28,po_00005,vendor_00005,May-Molina,Expanded intermediate time-frame,"36514 Davis Glens Apt. 955\nMillerberg, DC 72749",+1-998-390-3555x1606,wrightblake@example.com
...,...,...,...,...,...,...,...,...,...,...
445,inv_00446,100520,2007-08-05,po_00099,vendor_00099,Williams PLC,Cross-group solution-oriented task-force,Unit 2108 Box 3829\nDPO AP 63313,591-538-8695x584,isaac32@example.com
446,inv_00447,97792,2016-02-20,po_00071,vendor_00071,Hill and Sons,Reactive bifurcated artificial intelligence,"965 Robert Port Suite 197\nNew Ericshire, SD 2...",705.159.7358x74313,bgill@example.org
447,inv_00448,46952,2006-11-09,po_00015,vendor_00015,"Campos, Rivera and Schmidt",Intuitive stable success,"71312 Simpson Port Apt. 285\nLake Christopher,...",+1-804-367-5816,lyonsyvonne@example.org
448,inv_00449,50536,2017-05-30,po_00099,vendor_00099,Williams PLC,Cross-group solution-oriented task-force,Unit 2108 Box 3829\nDPO AP 63313,591-538-8695x584,isaac32@example.com
449,inv_00450,57482,2010-09-28,po_00185,vendor_00049,"Robertson, Jones and Larson",Team-oriented solution-oriented flexibility,"009 Cruz Stravenue\nCollinstown, OH 57804",001-159-181-5139x7308,kimberly03@example.net

### School

In [4]:
import pandas as pd
from pydatafaker import school
skool =  school.create_school()
skool.keys()
skool['student_table']

      student_id            name  grade    teacher_id
0   student_0005     Daniel Bird      1  teacher_0006
1   student_0007  Angelica Reyes      1  teacher_0008
2   student_0009       James Liu      1  teacher_0006
3   student_0012      Julie Sims      1  teacher_0008
4   student_0017   Joseph Harvey      1  teacher_0006
..           ...             ...    ...           ...
50  student_0270      Laura Cruz      7  teacher_0013
51  student_0285  Patricia Jones      7  teacher_0003
52  student_0290   Thomas Thomas      7  teacher_0004
53  student_0294   Donna Spencer      7  teacher_0013
54  student_0298    Steven Haley      7  teacher_0003

[300 rows x 4 columns]

## Contributing

Please see [docs/source/contributing.rst](docs/source/contributing.rst).

## Credits

Developed by:

* Sam Edwardes

Logo:

* Icon made by [Freepik](https://www.flaticon.com/authors/freepik) from [www.flaticon.com](https://www.flaticon.com/)
* Front from [fontmeme.com/retro-fonts/](https://fontmeme.com/retro-fonts/)
* Logo generated using [logomakr.com](logomakr.com/7scB4)