# Usage

## Installation

To Install please run:

```bash
pip intsall pydatafaker
```

## Business

The business module allows you to create fake business data. Calling `business.create_business()` will return a dictionary of related tables.

In [1]:
import pandas as pd
from pydatafaker import business
biz =  business.create_business()
biz.keys()

dict_keys(['vendor_table', 'po_table', 'invoice_summary_table', 'invoice_line_item_table', 'employee_table', 'contract_table', 'rate_sheet_table', 'timesheet_table'])

Each value inside the dictionary contains a Pandas DataFrame.

In [2]:
biz["vendor_table"]
biz["employee_table"]
biz["po_table"]
biz["invoice_summary_table"]
biz["invoice_line_item_table"]

     invoice_id      invoice_line_id  amount    description
0     inv_00001  line_item_000000001    6598  0-904840-74-3
1     inv_00001  line_item_000001231    4735  1-71069-753-9
2     inv_00001  line_item_000005049    6727  1-371-64644-9
3     inv_00001  line_item_000000588    2473  0-08-230956-6
4     inv_00001  line_item_000003851    9597  1-75384-893-8
...         ...                  ...     ...            ...
5445  inv_00450  line_item_000001717      87  1-59771-017-2
5446  inv_00450  line_item_000003672   10283  0-624-27726-7
5447  inv_00450  line_item_000001655    4475  0-508-52762-7
5448  inv_00450  line_item_000000969    9020  1-80594-970-5
5449  inv_00450  line_item_000004549     193  0-629-73969-2

[5450 rows x 4 columns]

Tables can be joined together to add additional details.

In [3]:
invoice_summary = biz['invoice_summary_table']
vendors = biz['vendor_table']

pd.merge(invoice_summary, vendors, how='left', on='vendor_id')

,invoice_id,amount,invoice_date,po_id,vendor_id,vendor_name,vendor_description,address,phone,email
0,inv_00001,82661,2015-07-21,po_00001,vendor_00001,Moore-Martin,Up-sized multi-state definition,"7429 Olsen Ferry Apt. 189\nPort Jennifer, NC 1...",7193112102,robinsoncheryl@example.net
1,inv_00002,73098,2013-07-23,po_00002,vendor_00002,"West, Berry and Walton",Reduced hybrid forecast,"16527 Samantha Island Suite 869\nOmarfurt, PA ...",781.604.8595x04998,jimmy31@example.com
2,inv_00003,28022,2018-07-17,po_00003,vendor_00003,"Davidson, Cameron and Martinez",Fully-configurable impactful core,"08777 Sheri Mews\nHarrisville, LA 58473",105.005.3036x7127,odavenport@example.com
3,inv_00004,69594,2004-06-29,po_00004,vendor_00004,Jones LLC,Decentralized web-enabled monitoring,"5033 Rodriguez Estates Apt. 699\nEast Michael,...",764.448.3011x8486,carlosrobertson@example.org
4,inv_00005,39000,2009-09-18,po_00005,vendor_00005,Mendoza Inc,Organized explicit productivity,"441 Miller Lodge Apt. 162\nPort William, VT 10705",233.325.5774,psmith@example.org
...,...,...,...,...,...,...,...,...,...,...
445,inv_00446,68535,2020-08-26,po_00108,vendor_00099,Fowler PLC,Multi-tiered transitional data-warehouse,"980 Mooney Points Apt. 348\nMichelechester, CO...",(894)476-7567,kim40@example.org
446,inv_00447,63278,2002-09-16,po_00051,vendor_00051,Blevins-Wilson,Enterprise-wide bandwidth-monitored strategy,USNV Taylor\nFPO AP 12826,388.964.4315x98382,jenniferjohnson@example.com
447,inv_00448,117217,2008-09-03,po_00066,vendor_00066,"Sullivan, Bennett and Cunningham",Exclusive asynchronous function,"79589 Nicholas Row\nPort Jerry, MS 63079",(053)564-5707x5118,patriciamurphy@example.com
448,inv_00449,112512,2017-06-15,po_00027,vendor_00027,Adams Inc,Extended mission-critical leverage,"5651 Goodman Falls Apt. 237\nNew Jamietown, OH...",+1-576-099-8444x7619,cmurphy@example.com
449,inv_00450,46839,2001-02-03,po_00151,vendor_00075,"Trujillo, Yu and Gallagher",Optional encompassing collaboration,"47761 Walters Forges\nEast Kristinshire, SD 62645",001-547-442-2195x2390,jamie05@example.net

## School

The school module allows you to generate fake school data

In [4]:
import pandas as pd
from pydatafaker import school
skool =  school.create_school()
skool.keys()
skool['student_table']
skool['teacher_table']
skool['room_table']
skool['grade_table']

        student_id  test_score       date
0     student_0003    0.839085 2021-01-01
1     student_0003    0.849378 2020-12-26
2     student_0003    0.573154 2021-01-22
3     student_0003    1.000000 2021-05-14
4     student_0003    1.000000 2020-09-05
...            ...         ...        ...
2995  student_0283    0.834525 2020-12-15
2996  student_0283    0.706741 2020-12-07
2997  student_0283    0.747107 2021-05-16
2998  student_0283    0.812523 2021-02-22
2999  student_0283    0.542470 2021-01-22

[3000 rows x 3 columns]